

.title{
  background-color:#ff4c68;
  color: #fff;
}
.title-image{
  position:absolute;
}
.download-button{
  margin: 5% 3% 5% 0;
}

/* features section */
.features-box{
  text-align: center;
  padding: 5%;

}
.features-image{
  color: #ef8172;
  margin-bottom: 1rem;
}
.features-text{
    color: #8f8f8f;
}

.features-image:hover{
color:#ff4c68;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
/* testimonials */

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;

}
.testimonial-image{
  width: 10%;
  border-radius:100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;

}
/* press */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px;
}

/* Pricing */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;

}
/* cta */
#cta{
  background-color:#ff4c68;
  text-align: center;
  padding: 7% 15%;
}
.cta-line{
  font-size: 3.5rem;
  line-height: 1.5;
  font-family:"Montserrat";
  color: white;
}
/* footer */
#footer{
  text-align: center;
  padding: 7% 15%;
}
.footer-icon{
    margin: 20px 10px;
}
